{% extends 'base_generic.html' %}
{% load crispy_forms_tags %}


{%block sidebar%}
    <div class="justify-content-center">
      {% for task in tasks %}
        <a href="{% url 'task' task.id %}">{{ task.task_name }}</a><br>
      {% endfor %}
    </div>
{% endblock %}

{%block content%}
<h1 class="mt-2 text-center pb-3" id="complete">Add Task</h1>
<div class="d-flex justify-content-center">
  <form method="post">
      {% csrf_token %}
      {{ form|crispy }}
      <div class="d-flex justify-content-center">
          <button type="submit" class="btn btn-primary mt-2">Add Subtask</button>
      </div>
  </form>
</div>
{% endblock %}