{% load static %}
{% load crispy_forms_tags %}

<link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">

<body class="loginpage">
    <div class="login d-flex justify-content-center" >
        <h1>Log in</h1>
        <form method="post" class="form-row align-items-center">
            {% csrf_token %}
            {% if next %}
                <input type="hidden" name="next" value="{{ next }}" />
            {% endif %}
            {{ form|crispy}}
            <input type="submit" value="login" />
            <input type="hidden" name="next" value="{{ next }}" />
        </form>
        <span>Don't have an account? <a href="{% url 'register' %}">Sign up</a></span>
    </div>
<body>