{% extends "base_generic.html" %}




<body>

{%block content%}
    {% for subtask in subtasks %}
    <table class="table table-bordered table-striped table-hover table-sm table-condensed m-lg-1">
        <tr class="border">
            <td>{{ subtask.subtask_name }}</td>
            <td>{{ subtask.subtask_description }}</td>
            <td>{{ subtask.status }}</td>
            <td>{{ subtask.task }}</td>
            <td>{{ subtask.created_at }}</td>
            <td>{{ subtask.updated_at }}</td>
        </tr>
    </table>
    {% endfor %}
{%endblock%}
</body>
<p>